<div class="main">
  <div class="container">
    <h1>Clima</h1>

    <div class="container-wrapper"></div>
    <input
      [formControl]="input"
      (click)="onClicSearch()"
      class="searchCity"
      type="text"
      placeholder="  Pesquise por um país ou cidade"
    />
    <table
      class="table table-striped table-dark custom-table"
      *ngIf="mostrarTempo"
    >
      <thead>
        <tr>
          <th scope="col">Municípios</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let result of results$ | async">
          <td
            [style.color]="'white'"
            (click)="selectCity(result.nome)"
            [routerLink]="['/weather-app', result.nome]"
          >
            {{ result.nome }}
          </td>
        </tr>
      </tbody>
    </table>

    <ul *ngIf="!mostrarTempo" class="exemplos">
      <li class="infoContainer1">
        <div class="header1">
          <p class="mainTemp">77{{ maxTemp }}</p>
          <img class="icon" [src]="icon" />
        </div>
        <div class="body">
          <p>{{ "Max:" + maxTemp + "°" + "Min:" + minTemp + "°" }}</p>
          <p>alto da compadecida</p>
        </div>
        <img src="assets/rectangle.png" alt="" />
      </li>

      <li class="infoContainer2">
        <div class="header2">
          <p class="mainTemp">77{{ maxTemp }}</p>
          <img class="icon" [src]="icon" />
        </div>
        <div class="body">
          <p>{{ "Max:" + maxTemp + "°" + "Min:" + minTemp + "°" }}</p>
          <p>alto da compadecida</p>
        </div>
        <img src="assets/rectangle.png" alt="" />
      </li>


     <li class="infoContainer3">
        <div class="header3">
          <p class="mainTemp">55{{ maxTemp }}</p>
          <img class="icon" [src]="icon" />
        </div>
        <div class="body">
          <p>{{ "Max:" + maxTemp + "°" + "Min:" + minTemp + "°" }}</p>
          <p>alto da compadecida</p>
        </div>
        <img src="assets/rectangle.png" alt="" />
      </li>

    </ul>
  </div>
  <app-weather-app *ngIf="mostrarComponent"></app-weather-app>
</div>
