<div class="main">
  <div class="container">
    <h1>Clima</h1>

    <div class="container-wrapper"></div>
    <input
      [formControl]="input"
      (click)="onClicSearch()"
      class="searchCity"
      type="text"
      placeholder="  Pesquise por um país ou cidade"
    />
    <table
      class="table table-striped table-dark custom-table"
      *ngIf="mostrarTempo"
    >
      <thead>
        <tr>
          <th scope="col">Municípios</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let result of results$ | async">
          <td
            [style.color]="'white'"
            (click)="selectCity(result.nome)"
            [routerLink]="['/weather-app', result.nome]"
          >
            {{ result.nome }}
          </td>
        </tr>
      </tbody>
    </table>

    <ul *ngIf="!mostrarTempo" class="exemplos">
      <li class="infoContainer1">
        <div class="header">
          <p class="mainTemp">{{ citysData["manaus"].current.temp_c }}</p>
          <img
            class="icon"
            [src]="citysData['manaus'].current.condition.icon"
          />
        </div>
        <div class="body">
          <p class="condition">{{ citysData["manaus"].current.condition.text }}</p>
          <p class="maxMin">
            {{
              "Max:" +
                forCityData["manaus"].forecast.forecastday[0].day.maxtemp_c +
                "°" +
                "Min:" +
                forCityData["manaus"].forecast.forecastday[0].day.mintemp_c +
                "°"
            }}
          </p>
          <p class="city">Manaus, Amazonas</p>
        </div>
        <img src="assets/rectangle.png" alt="" />
      </li>

      <li class="infoContainer2">
        <div class="header">
          <p class="mainTemp">{{ citysData["salvador"].current.temp_c }}</p>
          <img
            class="icon"
            [src]="citysData['salvador'].current.condition.icon"
          />
        </div>
        <div class="body">
          <p class="condition">{{ citysData["salvador"].current.condition.text }}</p>
          <p class="maxMin">
            {{
              "Max:" +
                forCityData["salvador"].forecast.forecastday[0].day.maxtemp_c +
                "°" +
                "Min:" +
                forCityData["salvador"].forecast.forecastday[0].day.mintemp_c +
                "°"
            }}
          </p>
          <p class="city">Salvador, Bahia</p>
        </div>
        <img src="assets/rectangle.png" alt="" />
      </li>

      <li class="infoContainer3">
        <div class="header">
          <p class="mainTemp">{{ citysData["macapa"].current.temp_c }}</p>
          <img
            class="icon"
            [src]="citysData['macapa'].current.condition.icon"
          />
        </div>
        <div class="body">
          
        <p class="condition">{{ citysData["macapa"].current.condition.text }}</p>
          <p class="maxMin">
            {{
              "Max:" +
                forCityData["manaus"].forecast.forecastday[0].day.maxtemp_c +
                "°" +
                "Min:" +
                forCityData["manaus"].forecast.forecastday[0].day.mintemp_c +
                "°"
            }}
          </p>
          <p class="city">Macapá, Amapá</p>
        </div>
        <img src="assets/rectangle.png" alt="" />
      </li>
    </ul>
  </div>
  <app-weather-app *ngIf="mostrarComponent"></app-weather-app>
</div>
