<div class="main">
  <div class="container">
    <h1>Clima</h1>

    <div class="container-wrapper"></div>
    <input
      [formControl]="input"
      (click)="onClicSearch()"
      class="searchCity"
      type="text"
      placeholder="  Pesquise por um país ou cidade"
    />
    <button class="btn btn-primary" (click)="onSearch()">Pesquisar</button>

    <tbody *ngIf="mostrarTempo">
      <tr *ngFor="let result of results$| async">        
        <td [style.color]="'white'"> {{ result.nome }}</td>
      </tr>
    </tbody>

    <div *ngIf="!mostrarTempo" class="exemplos">
      <img src="assets/rectangle.png" alt="" />
      <img src="assets/rectangle.png" alt="" />
      <img src="assets/rectangle.png" alt="" />
    </div>
  </div>
</div>
