<div class="main">
  <div class="container">
    <div class="header">
      <h1 class="display-1">{{ city }} </h1>
      <h1 class="display-2  [resultsCity]='city'">{{ temp + '°' }} </h1>
      <h1 class="display-5"> {{ sensacao }}</h1> 
      <p class="max"> {{ "Max: "+ max + "° "  }}</p> <p class="min"> {{ " Min: " + min + "° " }} </p>
    </div>

    <img class="background" src="assets/background-img.png" alt=""> 
    <img class="house"  src="assets/house.png" alt="">

    <footer style="width: max-content;">

      

      <app-forecast-time [city]="city"></app-forecast-time>
 
  </footer>
  </div>
</div>
 