*{
    margin: 0px;
    padding: 0px;
}

.botton-container{
    border-style:solid;
    border-radius: 30px;
    border-color: rgb(104, 77, 155);
    width: 47vh;
    padding-bottom: 380px;
    position: relative;
    z-index: 1;    
    background-image: linear-gradient(
        rgba(71, 66, 112, 0.95),
        rgba(44, 39, 78, 0.95));
}
header{
    display: flex;
    justify-content: center;
}
h5{
    padding-top: 10px;
    z-index: 2;
    display: inline;
    font-size: small;
    color:#ad8bb5;
}

.linha-horizontal{
    width: 100%;
    border-bottom: 1px solid #f1e6ff;
}

ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
li{
    list-style: none;
}

.mini-container{    
    border-radius: 100px;
     border: 1px, solid, #ad8bb5;
    box-shadow: 2px 2px 0px 0px rgba(39, 39, 39, 0.8);;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 45px;
    background-image: linear-gradient(
     rgb(92, 71, 145),
     rgb(63, 46, 116));
    margin: 15px;   
}

footer{
    display: flex;
   justify-content: center;
}

p{
    color: white;
}
.plus{
    margin-bottom: 10px;
    font-size: 40px;
    color: #5c4f9f;
}
.new-location{
    margin-top:3vh;
    height: 60px;
    width: 60px;
    border-style:groove;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dadce6;
    border-color: #525570;
}


img{
    width: 100%;
}