/* You can add global styles to this file, and also import other style files */
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: linear-gradient(
        rgb(152, 119, 223),
        rgb(221, 161, 231));    
        height: 100vh;


}